/* line 1, ../PROJECTS/SCION/portfolio/scss/layout/_container.scss */
.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  max-width: 1200px;
}

@media (min-width: 767px) {
  /* line 34, ../PROJECTS/SCION/portfolio/scss/utilities/_media-query.scss */
  .banner-image {
    width: 100%;
    height: 100vh;
  }
  /* line 38, ../PROJECTS/SCION/portfolio/scss/utilities/_media-query.scss */
  .banner-text {
    font-weight: 800;
    font-size: 400%;
    display: flex;
    flex-direction: column;
  }
}

/* line 4, ../PROJECTS/SCION/portfolio/scss/layout/_base.scss */
body {
  letter-spacing: .4px;
  font-family: Poppins, sans-serif;
}

@media (min-width: 767px) {
  /* line 12, ../PROJECTS/SCION/portfolio/scss/layout/_base.scss */
  .body-style {
    margin-top: 0;
  }
}

/* line 17, ../PROJECTS/SCION/portfolio/scss/layout/_base.scss */
.content-wrapper {
  display: flex;
  flex-direction: row;
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 767px) {
  /* line 34, ../PROJECTS/SCION/portfolio/scss/utilities/_media-query.scss */
  .banner-image {
    width: 100%;
    height: 100vh;
  }
  /* line 38, ../PROJECTS/SCION/portfolio/scss/utilities/_media-query.scss */
  .banner-text {
    font-weight: 800;
    font-size: 400%;
    display: flex;
    flex-direction: column;
  }
}

/* line 4, ../PROJECTS/SCION/portfolio/scss/layout/_sidebar.scss */
.sidebar {
  display: none;
  position: fixed;
  height: 100vh;
  float: left;
  overflow: visible;
  background-color: black;
  opacity: 0.9;
  margin-left: 0;
  z-index: 2;
}

@media (min-width: 767px) {
  /* line 19, ../PROJECTS/SCION/portfolio/scss/layout/_sidebar.scss */
  .sidebar {
    display: block !important;
    position: fixed;
    height: 100vh;
    float: left;
    overflow: visible;
    background-color: black;
    opacity: 0.9;
    margin-left: 0;
    z-index: 2;
  }
  /* Add padding and border to inner content
    for better animation effect */
  /* line 33, ../PROJECTS/SCION/portfolio/scss/layout/_sidebar.scss */
  .box-inner {
    width: 400px;
    padding: 10px;
    border: 1px solid #a29415;
  }
  /* line 38, ../PROJECTS/SCION/portfolio/scss/layout/_sidebar.scss */
  .hamburger {
    display: none !important;
  }
}

/* line 43, ../PROJECTS/SCION/portfolio/scss/layout/_sidebar.scss */
.logo-wrapper {
  display: flex;
  flex-direction: row;
}

/* line 50, ../PROJECTS/SCION/portfolio/scss/layout/_sidebar.scss */
.logo-image {
  height: 100px;
}

/* line 54, ../PROJECTS/SCION/portfolio/scss/layout/_sidebar.scss */
.close-wrapper {
  font-display: flex;
  justify-content: flex-end;
  margin-bottom: 2rem;
}

@media (min-width: 767px) {
  /* line 34, ../PROJECTS/SCION/portfolio/scss/utilities/_media-query.scss */
  .banner-image {
    width: 100%;
    height: 100vh;
  }
  /* line 38, ../PROJECTS/SCION/portfolio/scss/utilities/_media-query.scss */
  .banner-text {
    font-weight: 800;
    font-size: 400%;
    display: flex;
    flex-direction: column;
  }
}

/* line 3, ../PROJECTS/SCION/portfolio/scss/components/_form.scss */
.name-first {
  grid-area: first;
}

/* line 7, ../PROJECTS/SCION/portfolio/scss/components/_form.scss */
.name-last {
  grid-area: last;
}

/* line 11, ../PROJECTS/SCION/portfolio/scss/components/_form.scss */
.email {
  grid-area: email;
}

/* line 15, ../PROJECTS/SCION/portfolio/scss/components/_form.scss */
.subject {
  grid-area: subject;
}

/* line 19, ../PROJECTS/SCION/portfolio/scss/components/_form.scss */
.message {
  grid-area: message;
}

/* line 23, ../PROJECTS/SCION/portfolio/scss/components/_form.scss */
.whole-form {
  display: grid;
  margin-left: 1rem;
  grid-template-areas: "first" "last" "email" "subject" "message";
}

/* line 34, ../PROJECTS/SCION/portfolio/scss/components/_form.scss */
.whole-form-control {
  background-color: #BBDADD;
  padding: 0;
  margin-bottom: 1rem;
  height: 3rem;
  border: none;
}

/* line 41, ../PROJECTS/SCION/portfolio/scss/components/_form.scss */
.whole-form-control:hover,
.whole-form-control :focus {
  box-shadow: 0 0 3px 3px white;
  cursor: pointer;
}

/* line 49, ../PROJECTS/SCION/portfolio/scss/components/_form.scss */
::placeholder {
  font-style: italic;
  font-weight: 400;
  color: #6F75A7;
  padding: 1rem;
}

/* line 56, ../PROJECTS/SCION/portfolio/scss/components/_form.scss */
#message {
  height: 200px;
}

/* line 59, ../PROJECTS/SCION/portfolio/scss/components/_form.scss */
label {
  margin-top: .5rem !important;
  margin-bottom: .5rem !important;
}

@media (min-width: 767px) {
  /* line 64, ../PROJECTS/SCION/portfolio/scss/components/_form.scss */
  .whole-form {
    width: 600px;
    grid-template-areas: "first last" "email email" "subject subject" "message message";
    grid-column-gap: 2rem;
  }
  /* line 74, ../PROJECTS/SCION/portfolio/scss/components/_form.scss */
  .label-wrapper {
    justify-content: flex-start !important;
    margin-bottom: 5px;
    margin-left: 2px;
  }
  /* line 80, ../PROJECTS/SCION/portfolio/scss/components/_form.scss */
  .submit-wrapper {
    display: flex;
    justify-content: flex-start !important;
  }
  /* line 85, ../PROJECTS/SCION/portfolio/scss/components/_form.scss */
  .banner-image {
    height: 100vh;
  }
  /* line 89, ../PROJECTS/SCION/portfolio/scss/components/_form.scss */
  .banner-text {
    font-size: 24px;
    font-weight: 600;
  }
  /* line 93, ../PROJECTS/SCION/portfolio/scss/components/_form.scss */
  .banner-paragraph {
    margin-bottom: 2rem;
    font-size: 32px !important;
  }
}

/* line 99, ../PROJECTS/SCION/portfolio/scss/components/_form.scss */
.label-wrapper {
  display: flex;
  justify-content: center;
  color: white;
}

/* line 105, ../PROJECTS/SCION/portfolio/scss/components/_form.scss */
.submit-wrapper {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

/* line 111, ../PROJECTS/SCION/portfolio/scss/components/_form.scss */
.input-control.success input {
  border-color: #09c372;
}

/* line 115, ../PROJECTS/SCION/portfolio/scss/components/_form.scss */
.input-control.error input {
  border-color: #ff3860;
}

/* line 1, ../PROJECTS/SCION/portfolio/scss/components/_details.scss */
.headline, .phone, .headline-bottom-text {
  display: flex;
  justify-content: center;
}

/* line 5, ../PROJECTS/SCION/portfolio/scss/components/_details.scss */
.headline-p, .phone-p, .headline-bottom-text-p {
  display: flex;
  justify-content: center;
}

/* line 11, ../PROJECTS/SCION/portfolio/scss/components/_details.scss */
.headline-bottom-text {
  color: #6F75A7;
}

/* line 14, ../PROJECTS/SCION/portfolio/scss/components/_details.scss */
.contact {
  display: flex;
  flex-direction: column;
  color: white;
}

@media (min-width: 991px) {
  /* line 21, ../PROJECTS/SCION/portfolio/scss/components/_details.scss */
  .contact {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

/* line 29, ../PROJECTS/SCION/portfolio/scss/components/_details.scss */
.button-submit {
  width: 100px;
}

@media (min-width: 767px) {
  /* line 34, ../PROJECTS/SCION/portfolio/scss/utilities/_media-query.scss */
  .banner-image {
    width: 100%;
    height: 100vh;
  }
  /* line 38, ../PROJECTS/SCION/portfolio/scss/utilities/_media-query.scss */
  .banner-text {
    font-weight: 800;
    font-size: 400%;
    display: flex;
    flex-direction: column;
  }
}

/* line 3, ../PROJECTS/SCION/portfolio/scss/components/_projects.scss */
.project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 10px 20px 10px;
  box-shadow: 0 4px 8px 0 rgba(240, 236, 236, 0.2), 0 6px 20px 0 rgba(204, 196, 196, 0.19);
  border-radius: 10px;
  background: #e0eef0;
  margin: 1rem 0px;
  top: 0px;
}

/* line 16, ../PROJECTS/SCION/portfolio/scss/components/_projects.scss */
.project:hover {
  position: relative;
  top: -10px;
  transition: .5s ease;
  cursor: pointer;
  text-decoration: none;
}

/* line 24, ../PROJECTS/SCION/portfolio/scss/components/_projects.scss */
.project-headline {
  text-align: center;
  padding: 1rem;
  color: #0A535A;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
}

/* line 32, ../PROJECTS/SCION/portfolio/scss/components/_projects.scss */
.project-icons {
  display: flex;
  justify-content: center;
}

/* line 38, ../PROJECTS/SCION/portfolio/scss/components/_projects.scss */
.p-icon {
  height: 60px;
  width: 60px;
  margin: 1rem;
}

/* line 44, ../PROJECTS/SCION/portfolio/scss/components/_projects.scss */
.project-text {
  padding: 1rem;
  color: #0A535A;
  font-weight: 600;
}

/* line 49, ../PROJECTS/SCION/portfolio/scss/components/_projects.scss */
.container {
  margin: none;
  padding: none;
}

/* line 53, ../PROJECTS/SCION/portfolio/scss/components/_projects.scss */
.project-button-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
}

/* line 61, ../PROJECTS/SCION/portfolio/scss/components/_projects.scss */
.project-image {
  max-width: 100%;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* line 68, ../PROJECTS/SCION/portfolio/scss/components/_projects.scss */
.projects-wrapper {
  padding: 50px 0px 25px 0px;
  align-items: center;
  display: flex;
  flex-direction: column;
}

@media (min-width: 767px) {
  /* line 68, ../PROJECTS/SCION/portfolio/scss/components/_projects.scss */
  .projects-wrapper {
    flex-direction: row !important;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  /* line 81, ../PROJECTS/SCION/portfolio/scss/components/_projects.scss */
  .projects-wrapper .project {
    flex: 1 1 333px;
    margin: 2rem;
  }
}

/* line 1, ../PROJECTS/SCION/portfolio/scss/components/_contact.scss */
.contact {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: black;
  padding: 50px;
}

/* line 8, ../PROJECTS/SCION/portfolio/scss/components/_contact.scss */
.fix-wrap {
  display: flex;
  justify-content: center;
}

/* line 14, ../PROJECTS/SCION/portfolio/scss/components/_contact.scss */
.social-wrapper {
  height: auto;
  width: auto;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #BBDADD;
  border-radius: 5px;
  margin-bottom: 1rem;
}

/* line 26, ../PROJECTS/SCION/portfolio/scss/components/_contact.scss */
.icon-social {
  display: flex;
  justify-content: center;
  margin: 5px;
  height: 100px;
  width: 100px;
}

/* line 1, ../PROJECTS/SCION/portfolio/scss/components/_buttons.scss */
.button {
  width: 100px;
  height: 50px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(253, 253, 253, 0.2), 0 6px 20px 0 rgba(255, 255, 255, 0.19);
  color: white;
  text-transform: uppercase;
  letter-spacing: .4px;
}

/* line 11, ../PROJECTS/SCION/portfolio/scss/components/_buttons.scss */
.button-project {
  background-color: #0A535A;
  color: white;
}

/* line 16, ../PROJECTS/SCION/portfolio/scss/components/_buttons.scss */
.button-submit {
  background-color: #0A535A;
}

/* line 19, ../PROJECTS/SCION/portfolio/scss/components/_buttons.scss */
.button-submit:hover {
  background-color: #0d6871;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* line 25, ../PROJECTS/SCION/portfolio/scss/components/_buttons.scss */
.button-nav {
  margin: 1rem;
  background-color: #0A535A;
}

/* line 29, ../PROJECTS/SCION/portfolio/scss/components/_buttons.scss */
.button-nav:hover {
  background-color: #0f7d88;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* line 35, ../PROJECTS/SCION/portfolio/scss/components/_buttons.scss */
.button-selected {
  margin: 1rem;
  background-color: #6F75A7;
}

/* line 39, ../PROJECTS/SCION/portfolio/scss/components/_buttons.scss */
.button-selected:hover {
  cursor: default;
}

/* line 46, ../PROJECTS/SCION/portfolio/scss/components/_buttons.scss */
.none {
  box-shadow: none;
}

@media (min-width: 767px) {
  /* line 2, ../PROJECTS/SCION/portfolio/scss/components/_banner.scss */
  .hero-section {
    margin-left: 133px;
    margin-top: unset !important;
  }
  /* line 6, ../PROJECTS/SCION/portfolio/scss/components/_banner.scss */
  .projects-wrapper {
    margin-left: 133px;
  }
  /* line 9, ../PROJECTS/SCION/portfolio/scss/components/_banner.scss */
  .contact {
    margin-left: 133px;
  }
}

/* line 16, ../PROJECTS/SCION/portfolio/scss/components/_banner.scss */
.banner-paragraph {
  font-weight: 400;
}

/* line 20, ../PROJECTS/SCION/portfolio/scss/components/_banner.scss */
.hero-section {
  background: url("/img/pexels-mikhail-nilov-7676849.jpg") no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: -61px;
}

/* line 32, ../PROJECTS/SCION/portfolio/scss/components/_banner.scss */
.hero-section .hero-section-text {
  color: white;
  text-shadow: 1px 1px 2px black;
}

/* line 39, ../PROJECTS/SCION/portfolio/scss/components/_banner.scss */
.banner-arrow {
  text-decoration: none !important;
  color: white;
  margin-top: 2rem;
  top: 0px;
  font-size: xx-large;
}

/* line 47, ../PROJECTS/SCION/portfolio/scss/components/_banner.scss */
.banner-arrow:hover {
  color: white;
  position: relative;
  top: 10px;
  transition: .5s ease;
  cursor: pointer;
}

/* line 56, ../PROJECTS/SCION/portfolio/scss/components/_banner.scss */
.portrait {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}

/* line 1, ../PROJECTS/SCION/portfolio/scss/components/_coding.scss */
.coding-image {
  object-fit: cover;
}

/* line 1, ../PROJECTS/SCION/portfolio/scss/components/_hamburger.scss */
.hamburger {
  display: block;
  position: sticky;
  top: 10%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

/* line 1, ../PROJECTS/SCION/portfolio/scss/layout/_background.scss */
.body-style {
  height: auto;
  background-color: #091217;
}

@media (min-width: 767px) {
  /* line 34, ../PROJECTS/SCION/portfolio/scss/utilities/_media-query.scss */
  .banner-image {
    width: 100%;
    height: 100vh;
  }
  /* line 38, ../PROJECTS/SCION/portfolio/scss/utilities/_media-query.scss */
  .banner-text {
    font-weight: 800;
    font-size: 400%;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: 767px) {
  /* line 2, ../PROJECTS/SCION/portfolio/scss/pages/_about.scss */
  .about-wrapper {
    margin-left: 133px;
  }
}

/* line 7, ../PROJECTS/SCION/portfolio/scss/pages/_about.scss */
.about-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: white;
  align-items: center;
}

/* line 18, ../PROJECTS/SCION/portfolio/scss/pages/_about.scss */
.about-wrapper p {
  padding: 1rem;
  text-align: center;
}

/* line 23, ../PROJECTS/SCION/portfolio/scss/pages/_about.scss */
hr {
  border-top: 1px solid #0A535A;
  width: 80%;
}

/* line 28, ../PROJECTS/SCION/portfolio/scss/pages/_about.scss */
.qual {
  color: #6F75A7;
}

/* line 31, ../PROJECTS/SCION/portfolio/scss/pages/_about.scss */
.portrait-wrapper {
  margin-top: 120px;
  display: flex;
  justify-content: center;
}

/* line 37, ../PROJECTS/SCION/portfolio/scss/pages/_about.scss */
.about-link {
  text-decoration: none;
  color: #6F75A7;
}

/* line 40, ../PROJECTS/SCION/portfolio/scss/pages/_about.scss */
.about-link:hover {
  text-decoration: none;
  color: #8f93ba;
}

/* line 46, ../PROJECTS/SCION/portfolio/scss/pages/_about.scss */
.about {
  padding: 10px;
}

@media (min-width: 767px) {
  /* line 2, ../PROJECTS/SCION/portfolio/scss/pages/_scheme.scss */
  .scheme-wrapper {
    margin-left: 133px;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-bottom: 1rem;
    padding-top: 1rem !important;
  }
}

/* line 14, ../PROJECTS/SCION/portfolio/scss/pages/_scheme.scss */
.scheme-center {
  margin-left: 133px;
}

/* line 18, ../PROJECTS/SCION/portfolio/scss/pages/_scheme.scss */
.scheme {
  top: 15%;
}

/* line 22, ../PROJECTS/SCION/portfolio/scss/pages/_scheme.scss */
.link {
  display: flex;
  justify-content: center;
}

/* line 27, ../PROJECTS/SCION/portfolio/scss/pages/_scheme.scss */
.scheme-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: black;
  color: white;
  padding: 3rem;
  padding-top: 10rem;
}

/* line 37, ../PROJECTS/SCION/portfolio/scss/pages/_scheme.scss */
.scheme-wrapper p {
  text-align: center;
}

/* line 42, ../PROJECTS/SCION/portfolio/scss/pages/_scheme.scss */
ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
  justify-content: center;
}

/* line 51, ../PROJECTS/SCION/portfolio/scss/pages/_scheme.scss */
.scheme-logo-wrapper {
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 10px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

/* line 61, ../PROJECTS/SCION/portfolio/scss/pages/_scheme.scss */
.nm-logo {
  padding: 1rem;
  width: 100%;
}

/* line 66, ../PROJECTS/SCION/portfolio/scss/pages/_scheme.scss */
.headline {
  text-align: center;
}

/* line 70, ../PROJECTS/SCION/portfolio/scss/pages/_scheme.scss */
.hl-grey {
  color: #6F75A7;
}

/* line 1, ../PROJECTS/SCION/portfolio/scss/pages/_examples.scss */
.banner {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* line 7, ../PROJECTS/SCION/portfolio/scss/pages/_examples.scss */
.container-fluid {
  padding-left: 0;
  padding-right: 0;
}

@media (min-width: 767px) {
  /* line 13, ../PROJECTS/SCION/portfolio/scss/pages/_examples.scss */
  .banner {
    margin-left: 133px;
  }
}

/* line 18, ../PROJECTS/SCION/portfolio/scss/pages/_examples.scss */
.git {
  background-color: #6F75A7;
}

/* line 24, ../PROJECTS/SCION/portfolio/scss/pages/_examples.scss */
.tech {
  display: flex;
  flex-direction: column;
  justify-content: center;
  vertical-align: middle;
}

/* line 31, ../PROJECTS/SCION/portfolio/scss/pages/_examples.scss */
.tech h4 {
  margin: unset !important;
  color: #0A535A;
  font-weight: 600;
}

/* line 37, ../PROJECTS/SCION/portfolio/scss/pages/_examples.scss */
h1 {
  margin-top: 3rem;
  color: white;
}

/*# sourceMappingURL=style.css.map */