.about-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color:white;
}

.about-wrapper p {
    padding:1rem;
    text-align: center;
}

hr{
    border-top: 1px solid $green;
    width:80%;
}

.qual{
    color:$grey}



