.banner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container-fluid {
    padding-left: 0;
    padding-right: 0;
}

@include media-query(medium) {
    .banner {
        margin-left: 133px;
    }
}

.git {
    background-color:
        #6F75A7;

}

.tech {
    display: flex;
    flex-direction: column;
    justify-content: center;
    vertical-align: middle;
}

.tech h4 {
    margin: unset !important;
    color: #0A535A;
    font-weight: 600;
}

h1{
    color:white;
}