@include media-query(medium) {
    .scheme-wrapper {
        margin-left: 133px;
        padding-left: 1rem;
        ;
        padding-right: 1rem;
        ;
        padding-bottom: 1rem;
        padding-top: 1rem !important;

    }
}

.scheme-center {
    margin-left: 133px;
}

.scheme{
    top:15%;
}

.link {
    display: flex;
    justify-content: center;
}

.scheme-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: black;
    color: white;
    padding: 3rem;
    padding-top: 10rem;
}

.scheme-wrapper p {

    text-align: center;
}

ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
    justify-content: center;
}

.scheme-logo-wrapper {
    display: flex;
    justify-content: center;
    background-color: white;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 1rem;
}

.nm-logo {
    padding: 1rem;
    width: 100%
}

.headline {
    text-align: center;
}

.hl-grey {
    color: $grey;
}

