// Breakpoints
$break-xs: 576px;
$break-s: 767px;
$break-m: 991px;
$break-l: 1259px;

// colors
$blue: #0074DD;
$blue-light: #9BCCFD;
$aqua:#36D6E7;
$orchid:#81599F;
$orchid-dark: #382d40;
$grey: #838383;
$v-light-blue: #e6f2ff;
$green:#B5E287;
$green-light:#cde4b6;