// Breakpoints
$break-xs: 576px;
$break-s: 767px;
$break-m: 991px;
$break-l: 1259px;

// colors
$blue: #0074DD;
$blue-light: #9BCCFD;
$aqua:#36D6E7;
$grey: #6F75A7;
$v-light-green: #BBDADD;
$green:#0A535A;
$green-light:#cde4b6;
