@import'../utilities/variables';

body {
    background-color: $v-light-blue;
    letter-spacing: .4px;
    font-family: Poppins, sans-serif;
}

// * {
//     box-sizing: border-box;
// }

// .column-wrapper{
//     display: flex;
//     flex-direction:row;
// }