@import'../utilities/variables';
@import'../utilities/media-query';

body {
    letter-spacing: .4px;
    font-family: Poppins, sans-serif;
}


@include media-query(medium) {

.body-style{
    margin-top: 0 !important;
}
}

.body-style{
    margin-top: -50px;
}

// .main-content {
//     z-index: 2
// }

// .container-fluid{
//     padding:0;
// }

// .column-wrapper{
//     display: flex;
//     flex-direction: row;
// }

.content-wrapper{
    display: flex;
    flex-direction: row;
    padding-left:0;
    padding-right: 0;
    // justify-content: flex-start;
}