@import'../utilities/variables';
@import'../utilities/media-query';

body {
    letter-spacing: .4px;
    font-family: Poppins, sans-serif;
}


@include media-query(medium) {

.body-style{
    margin-top: 0;
}
}

.content-wrapper{
    display: flex;
    flex-direction: row;
    padding-left:0;
    padding-right: 0;
    // justify-content: flex-start;
}