.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1200px;
}

.contact {
    background: rgb(186, 149, 213);
    background: linear-gradient(0deg, rgba(186, 149, 213, 1) 0%, rgba(131, 131, 131, 1) 20%, rgba(230, 242, 255, 1) 100%);
    padding: 50px;
}