.container {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    max-width: 1200px;
}

.contact {
    background: rgb(203, 185, 216);
    background: linear-gradient(0deg,
     rgba(203, 185, 216, 1) 0%,
     rgba(131, 131, 131, 1) 30%,
     rgba(230, 242, 255, 1) 100%);
    padding: 50px;
}