@import'../utilities/media-query';

.column-wrapper {
    display: flex;
    flex-direction: row;
}

.sidebar {
    width: 160px;

    &-wrapper {
        width: 170px;
        position: sticky;
        top: 0;
        overflow-x: visible;
        height: 100vh;
        margin-bottom: unset;
        justify-content: flex-start;

    }
}

.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    top: 0;
    overflow-y: visible;
    background-color: black;
    z-index: 1;
    border: 3px solid white;
}

.sidebar {
    justify-content: unset;
}

#myLinks {
    display:
        block !important;
}

@include media-query(medium) {
    .sidebar-wrapper {
        display: flex;
        flex-direction: column;
        justify-content: center;
        position: sticky;
        top: 0;
        overflow-y: visible;
        background-color: black;
        z-index: 1;
        border: 3px solid white;
    }

    .sidebar {
        justify-content: unset;
    }

    #myLinks {
        display:
            block !important;
    }
    #burger {
        display: none !important;
      }
    
}

.link {
    display: flex;
    justify-content: center;
}


.logo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
}



.logo-image {
    height: 100px;
}