@import'../utilities/media-query';

.sidebar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: sticky;
    top:0;
    overflow-y: visible;
    margin-bottom: 50px;
    background-color:white;
    z-index:1;
}

.link {
    display: flex;
    justify-content: center;
}


.logo-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border: px solid $orchid;
}
@include media-query(medium) {
    .column-wrapper {
        display: flex;
        flex-direction: row;
    }

    .sidebar {
        width: 160px;
        // border: 3px solid $orchid;

        &-wrapper {
            width: 160px;
            position: sticky;
            top:0;
            overflow-x: visible;
            height:100vh;
            margin-bottom: unset;
            justify-content: flex-start;
            
            
            // position: relative !important;
        }
    }
}

// .logo {
    
// }
.logo-image {
    height:100px;
}