@include media-query(medium) {
  .hero-section{
    margin-left: 133px;
  }
  .projects-wrapper{
    margin-left:133px;
  }
.contact{
  margin-left: 133px;
}

}


.banner-paragraph {
  font-weight: 400;
}

.hero-section {
  background: url('/img/pexels-mikhail-nilov-7676849.jpg') no-repeat;
  background-size: cover;
  height: 100vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  // margin-top:-61px;
  


  .hero-section-text {
    color: white;
    text-shadow: 1px 1px 2px black;
  }
}


.banner-arrow {
  text-decoration: none !important;
  color: white;
  margin-top: 2rem;
  top: 0px;
  font-size: xx-large;


  &:hover {
    color: white;
    position: relative;
    top: 10px;
    transition: .5s ease;
    cursor: pointer;
  }
}

.portrait {
  border-radius: 50%;
  width: 200px;
  height: 200px;
}