// @include media-query(medium) {

// .banner-image{
//     background-image: url('/img/pexels-mikhail-nilov-7676849.jpg');
//     background-size: contain;
//     background-repeat: no-repeat;
//     width:100vw;
//     height:1500px;
//     z-index: 1;

// }
// }

// .banner-image{
//     background-image: url('/img/pexels-mikhail-nilov-7676849.jpg');
//     background-size: contain;
//     background-repeat: no-repeat;
//     width:100vw;
//     height:500px;
//     z-index: 1;

// }

// $hero-height: 60vh;

.hero-section {
  background: url('/img/pexels-mikhail-nilov-7676849.jpg') no-repeat;
  background-size: cover;
  height: 60vh;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;

  .hero-section-text {
    color: white;
    text-shadow: 1px 1px 2px black;
  }
}



.banner-arrow {
    text-decoration: none !important;
    color: white;
    margin-top: 2rem;
    top: 0px;
    font-size: xx-large;


    &:hover {
        color: white;
        position: relative;
        top: 10px;
        transition: .5s ease;
        cursor: pointer;
    }
}
.portrait{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}

