.button {
    width: 100px;
    height: 50px;
    border: none;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    color: white;

}

.button-project {
    background-color: $orchid-light;

    &:hover {
        background-color: lighten($orchid-light, 10);
    }
}

.button-submit {
    background-color: $green;

    &:hover {
        background-color: lighten($green, 10);
    }
}