.hamburger{
  display: block;
  position: sticky;
  top: 10%;
  left: 80%;
  transform: translate(-50%, -50%);
  color: #6F75A7;
  z-index:100;

  border: none;
  cursor: pointer;
  border-radius: 5px;
}



