@import'../utilities/media-query';

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:50px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 10px;
    background-color: white;
}

.project-headline {
    align-items: center;
    display: flex;
    justify-content: center;
}

.project-image {
    max-width: 100%;
}

.projects-wrapper {
    padding: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;

    @include media-query(medium) {

        flex-direction: row !important;
        flex-wrap: wrap;
        justify-content: space-between;

        .project {
            flex: 1 1 222px;
            margin:2rem;
        }
    }
}