@import'../utilities/media-query';

.project {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.project-headline {
    align-items: center;
}

.project-image {
    max-width: 100%;
}

.projects-wrapper {
    padding: 50px;
    align-items: center;
    display: flex;
    flex-direction: column;

    @include media-query(medium) {

        flex-direction: row !important;
        flex-wrap: wrap;
        justify-content: space-between;

        .project {
            flex: 1 1 222px;
            margin:2rem;
        }
    }
}